<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.member.dal.mysql.user.MemberUserMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->
    <select id="getUserInfo"
            resultType="cn.iocoder.yudao.module.member.controller.admin.user.vo.MemberUserInfoVO">
        SELECT a.id,a.mobile,a.nickname,a.avatar,a.name,a.sex,a.birthday,a.level_id,a.group_id,c.unionid,c.openid
        from member_user a
        INNER JOIN system_social_user_bind b on a.id =b.user_id
        INNER JOIN system_social_user c on c.id =b.social_user_id
        where a.id=#{userId}
    </select>

    <select id="getUserInfoList"
            resultType="cn.iocoder.yudao.module.member.controller.admin.user.vo.MemberUserInfoVO">
        SELECT a.id,a.mobile,a.nickname,a.avatar,a.name,a.sex,a.birthday,a.level_id,a.group_id,c.unionid,c.openid
        from member_user a
        INNER JOIN system_social_user_bind b on a.id =b.user_id
        INNER JOIN system_social_user c on c.id =b.social_user_id
        where a.id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getUserInfoBySocialUserId"
            resultType="cn.iocoder.yudao.module.member.controller.admin.user.vo.MemberUserInfoVO">
        SELECT a.id,a.mobile,a.nickname,a.avatar,a.name,a.sex,a.birthday,a.level_id,a.group_id,c.unionid,c.openid
        from member_user a
        INNER JOIN system_social_user_bind b on a.id =b.user_id
        INNER JOIN system_social_user c on c.id =b.social_user_id
        where b.social_user_id=#{socialUserId}
    </select>

    <select id="getMemberUserBySocialUserId"
            resultType="cn.iocoder.yudao.module.member.dal.dataobject.user.MemberUserDO">
        SELECT a.*
        from member_user a
        INNER JOIN system_social_user_bind b on a.id =b.user_id
        where b.social_user_id=#{socialUserId} and a.status=0
    </select>


</mapper>